.App {
  text-align: center;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
  padding: 10px;
}

.todo-section ul{
  list-style-type: none;
}
.todo-item {
  text-align: left;
  padding: 5px;
}

.todo-item-done {
  text-decoration: line-through;
  padding: 5px;
  text-align: left;
}

.App-link {
  color: #61dafb;
}

main {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 50px;
}

ul {
  padding: 0;
}

form {
  display: flex;
}

